<!-- Head -->
<%- include('../partials/head') %> 

<link rel="stylesheet" href="/css/productAddEdit.css">
<title>Agregar producto</title>
</head>

<body>

  <!-- Header -->
  <%- include('../partials/header') %> 

  <main>
      <div class="signupFrm">
          <form action="/products/create" method="POST" enctype="multipart/form-data" class="form">
              <h1 class="title">Agregar Producto</h1>

              <div class="inputContainer">
                  <input type="text" class="input" placeholder="a" name="id" value="<%= productsList.length + 1 %>" required>
                  <label for="id" class="label">Id</label>
              </div>

              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="producto" required>
                <label for="producto" class="label">Producto</label>
            </div>

              <div class="inputContainer">
                  <input type="text" class="input" placeholder="a" name="variante1" required>
                  <label for="variante1" class="label">Variante 1</label>
              </div>
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="variante2">
                <label for="variante2" class="label">Variante 2</label>
            </div>
            <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="variante3">
                <label for="variante3" class="label">Variante 3</label>
            </div>
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="precio" required>
                <label for="precio" class="label">Precio</label>
            </div>
            
            <div class="inputContainer description">
                <textarea class="input" placeholder="a" name="descripcion" required></textarea>
                <label for="descripcion" class="label">Descripción</label>
            </div>
            <div class="inputContainer categorias">
                <label for="categoria" class="label" id="categorias">Categorias</label>
                <select name="category" id="category" class="form-input" required>
                    <option value="">Seleccione</option>
                    <option value="schoolSupplies">Artículos escolares</option>
                    <option value="books">Libros</option>
                </select>             
            </div>
            <div class="img">
                <input type="file" name="img">
            </div>
            <div class="img">
                <input type="file" name="img">
            </div>
            <div class="img">
                <input type="file" name="img">
            </div>
              <div class="Contenedor">
                  <input type="submit" class="cuentasBtn" id="crear" value="Agregar">
              </div>
          </form>
      </div>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer') %> 