
        <!-- Head -->
        <%- include('../partials/head') %> 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/productCartStyle.css">
  <title>Carrito</title>

</head>

<body>
    <!-- Header -->
    <%- include ('../partials/header') %> 
    
  <main>
    <p class="txtCarrito">Carrito de Compras</p>
    <div class="producto">
      <img class="img-producto" src="/images/cuaderno-mickey.webp" alt="cuaderno-mickey">
      <div class="detallesProducto">
        <p class="txtProducto">Cuarderno Mickey</p>
        <p class="txtCantidad">- 1 +</p>
        <p class="txtCantidad">$XXX.XX</p>
      </div>
    </div>
    <hr>
    <div class="producto">
      <img class="img-producto" src="/images/cuaderno-minnie.webp" alt="cuaderno-minnie">
      <div class="detallesProducto">
        <p class="txtProducto">Cuaderno Minnie</p>
        <p class="txtCantidad">- 1 +</p>
        <p class="txtCantidad">$XXX.XX</p>
      </div>
    </div>
    <div class="subtotal">
      <p class="txtSubtotal">Subtotal (Sin envío):</p>
      <p class="txtSubtotal">$XXX.XX</p>
    </div>
    <hr>
    <div>
      <p class="txtEnvio">Envio</p>
      <div>
        <input type="checkbox" name="interests" value="a" id="a">
        <label for="a">Acordar envio (Costo a estimar)</label>
      </div>
      <div>
        <input type="checkbox" name="interests" value="b" id="b">
        <label for="b">Retiro en sucursal (Gratis)</label>
      </div>
    </div>
    <hr>
    <div class="subtotal">
      <p class="txtSubtotal">Total:</p>
      <p class="txtSubtotal">$XXX.XX</p>
    </div>
    <div class="footer-carrito">
      <div>
        <p class="txtOlvidaste">¿Olvidaste Algo?</p>
        <div class="productosRelacionados">
          <img class="img-producto" src="/images/cuaderno-violeta.webp" alt="cuaderno-violeta">
          <div class="agregarCarrito">
            <p class="txtPrecio">Cuaderno Violeta</p>
            <button class="bttAgregar">Agregar</button>
          </div>
        </div>
        <div class="productosRelacionados">
          <img class="img-producto" src="/images/cuaderno-rojo.webp" alt="cuaderno-rojo">
          <div class="agregarCarrito">
            <p class="txtPrecio">Cuaderno Rojo</p>
            <button class="bttAgregar">Agregar</button>
          </div>
        </div>
      </div>
      <hr>
      <div class="compraDiv">
        <button class="bttCompra">Iniciar Compra</button>
        <div class="promociones">
          <img class="img-tarjetavisa" src="/images/visalogo.png" alt="visalogo">
          <img class="img-tarjetamaster" src="/images/mastercardlogo.png" alt="mastercardlogo">
          <p class="txtCuotas">3 y 6 cuotas sin interes</p>
        </div>
      </div>
    </div>
  </main>
    <!-- Footer -->
    <%- include('../partials/footer') %> 