<!-- Head -->
<%- include('../partials/head') %> 

<link rel="stylesheet" href="/css/cuentas.css">
<title>Editar producto</title>
</head>

<body>

  <!-- Header -->
  <%- include('../partials/header') %> 

  <main>
      <div class="signupFrm">
          <form action="" class="form">
              <h1 class="title">Editar Producto</h1>

              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" value="<%=product.id%>" disabled required>
                <label for="" class="label">Id</label>
            </div>

            <div class="inputContainer">
              <input type="text" class="input" placeholder="a" required>
              <label for="" class="label">Producto</label>
          </div>

            <div class="inputContainer">
                <input type="text" class="input" placeholder="a" required>
                <label for="" class="label">Tipo</label>
            </div>
            <div class="inputContainer">
              <input type="text" class="input" placeholder="a" required>
              <label for="" class="label">Precio</label>
          </div>
          <div>
              <input type="file" name="avatar">
          </div>

              <div class="Contenedor">
                  <input href="#" type="submit" class="cuentasBtn" id="crear" value="Editar">
              </div>
          </form>
      </div>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer') %> 