
        <!-- Head -->
        <%- include('../partials/head') %> 

  <link rel="stylesheet" href="/css/cuentas.css">
  <title>Registro</title>
</head>

<body>

    <!-- Header -->
    <%- include('../partials/header') %> 

  <main>
    <div class="signupFrm">
      <form action="" class="form">
        <h1 class="title">Crear Cuenta</h1>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" required>
          <label for="" class="label">Nombre y Apellido</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" required>
          <label for="" class="label">Dirección</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" required>
          <label for="" class="label">Email</label>
        </div>

        <div class="inputContainer">
          <input type="password" class="input" placeholder="a" required>
          <label for="" class="label">Contraseña</label>
        </div>
        <div class="Contenedor">
          <input href="/" type="submit" class="cuentasBtn" id="inicio" value="Inicio">
          <input href="#" type="submit" class="cuentasBtn" id="crear" value="Crear">
        </div>
      </form>
    </div>
  </main>

    <!-- Footer -->
    <%- include('../partials/footer') %> 