<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/css/cuentas.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>

<body>

  <header>
    <div class="headerOptions" id="leftHeader">
      <div>
        <a href="#">Contacto</a>
      </div>
      <div>
        <a href="#">Productos</a>
      </div>
      <div>
        <a href="/">Inicio</a>
      </div>
    </div>
    <img class="logo" id="logoHeader" src="/images/LibreArte Logo.webp" alt="Logo de LibreArte">
    <div class="headerOptions" id="rightHeader">
      <div>
        <a href="/iniciosesion">Ingresar<i class="inisioSesion"></i></a>
      </div>
      <div>
        <a href="/registro">Registrarse<i class="registro"></i></a>
      </div>
      <div>
        <a href="#">Carrito<i class="fas fa-shopping-basket"></i></a>
      </div>
    </div>
  </header>

  <main>
    <div class="signupFrm">
      <form action="" class="form">
        <h1 class="title">Crear Cuenta</h1>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" required>
          <label for="" class="label">Nombre y Apellido</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" required>
          <label for="" class="label">Dirección</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" required>
          <label for="" class="label">Email</label>
        </div>

        <div class="inputContainer">
          <input type="password" class="input" placeholder="a" required>
          <label for="" class="label">Contraseña</label>
        </div>
        <div class="Contenedor">
          <input href="/" type="submit" class="cuentasBtn" id="inicio" value="Inicio">
          <input href="#" type="submit" class="cuentasBtn" id="crear" value="Crear">
        </div>
      </form>
    </div>
  </main>

  <footer>
    <div id="logoFooter">
      <img class="logo" src="/images/LibreArte Logo.webp" alt="Logo de LibreArte">
    </div>
    <ul id="infoEmpresa">
      <li>Direccion: C.M de Alvear 1954</li>
      <li>San Miguel, Buenos Aires, Argentina</li>
      <li>libreria_librearte@gmail.com</li>
      <li>+54 11 0000-0000</li>
    </ul>
    <ul class="footerLinks" id="footerLeft">
      <li>
        <a href="/inicioSesion">Ingresá</i></a>
      </li>
      <li>
        <a href="/registro">Registrarse</a>
      </li>
      <li>
        <a href="#">Carrito</a>
      </li>
    </ul>
    <ul class="footerLinks" id="footerRight">
      <li>
        <a href="#">Contacto</i></a>
      </li>
      <li>
        <a href="#">Productos</a>
      </li>
      <li>
        <a href="/">Inicio</a>
      </li>
    </ul>
  </footer>
</body>

</html>