<footer>
    <div>
        <img class="logo-footer" src="/images/logo.webp" alt="LibreArte_logo">
        <div class="iconos-redes">
            <a class="iconos" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="iconos" href="#"><i class="fa-brands fa-instagram"></i></a>
            <a class="iconos" href="#"><i class="fa-brands fa-youtube"></i></a>
            <a class="iconos" href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <p class="copyright">Copyright © 1999-2023 LibreArte</p>
    </div>
</footer>
</body>

</html>