<header>
    <nav class="homeNav">
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/contact">Contacto</a>
            </li>
            <div>
                <a href="/"><img src="/images/logo.webp"></a>
                <i class="fa-solid fa-bars burgerMenu"></i>
            </div>

            <li>
                <a href="/login">Ingresar</a>
            </li>
            <li>
                <a href="/register">Registrarse</a>
            </li>
            <li>
                <a href="/productcart">Carrito</a>
            </li>
        </ul>
    </nav>
</header>