
        <!-- Head -->
        <%- include('./partials/head') %> 
    <title>LibreArte</title>
</head>

<body>

    <!-- Header -->
    <%- include('./partials/header') %> 

    <main>
        <section class="landing">
            <img src="/images/landing.webp" alt="promotional image">
            <img class="landing2" src="/images/landing2.jpg" alt="promotional image">
            <div>
                <h2 class="textOfertas">Aprovechá los descuentos por la vuelta a clases!</p>
            </div>
        </section>

        <section class="categories">
            <article class="books">
                <a href="#"><h4 class="textCat">Libros</h4></a>
            </article>

        <article class="schoolSupplies">
            <a href="/products#schoolSupplies"><h4 class="textCat">Productos escolares</h4></a>
            </article>

        <article class="planners">
            <a href="#"><h4 class="textCat">Agendas 2023</h4></a>
            </article>
        </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %> 