#schoolSupplies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#schoolSupplies article {
    width: 50%;
    text-align: center;
    padding: 15px;
}

#schoolSupplies article img{
    width: 115px;
    height: 115px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 90px 10px 25px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.agregar{
    padding: 10px;
    background-color: #de7124;
    letter-spacing: 2px;
    font-weight: bold;
    width: 175px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    right: 15px;
    top: 111px;
}

.agregar a {
    color: #fff;
}



@media (min-width:768px){
    #schoolSupplies article {
        width: 27%;
    }

    h2 {
        padding-top: 60px;
    }

    #schoolSupplies article img{
        width: 180px;
        height: 180px;
    }
}

@media (min-width: 1024px){
    main {
        display: block;
    }

    #schoolSupplies article {
        width: 20%;
    }

    #schoolSupplies article img{
        width: 180px;
        height: 180px;
    }

    
}